.menu-icon{
  color: inherit;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
  border: none;
  padding-bottom: 4px;
}
.brand{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
